[Unit]
Description=promodj service
After=network.target
Requires=network.target

[Service]
Type=simple
User=promodj
SecureBits=keep-caps
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
DevicePolicy=closed
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
NoNewPrivileges=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictRealtime=true
LockPersonality=true
ProtectHostname=true
ExecStart=/usr/bin/promodj

[Install]
WantedBy=multi-user.target
